/* Media query Laptop */
@media (min-width: 1280px) {

    /* Controlar el menú extendido */
    #menu_hamburguesa{
        display: none;
        visibility: hidden;
    }

    #menu_escritorio{
        display: grid;
        padding: 0px;
        
        list-style: none;
    }

    img#logo {
        display: grid;
        justify-items: center;
        width: 100%;
    }

    #menu{
        display: grid;
        
        grid-template-areas: "predicas ubicacion contacto";
        
        list-style: none;
    }

}

/* Media query Tablet */
@media (min-width: 600px) {

    /* Controlar el menú extendido */
    #menu_hamburguesa{
        display: none;
        visibility: hidden;
    }

    #menu_escritorio{
        display: grid;
        padding: 0px;

        list-style: none;
    }

    img#logo {
        display: grid;
        justify-items: center;
        width: 100%;
    }

    #menu{
        display: grid;
        
        grid-template-areas: "predicas ubicacion contacto";
        font-size: xx-large;
        
        list-style: none;
    }

}

/* Media query Mobile */
@media (max-width: 600px) {

    /* Controlar el menú hamburguesa */

}